/* .poster-canvas-wrapper {
  width: 900px;
  margin: 0 auto;
  position: relative;
} */

/* .preview-mode {
  pointer-events: none; 
  transform: scale(1.05);
}

.poster-template-missing {
  padding: 20px;
  font-size: 16px;
} */
